*{
    --laranja: #E8833A;
    --azul: #C3CFD9;
    --indisponivel: #FBE192;
    --indisponivel_borda: #F7C52B;
    --selecionado: #8DD7CF;
    --selecionado_borda: #45BDB0;
    --disponivel: #C3CFD9;
    --disponivel_borda: #7B8B99;
    --fonte_preta: #293845;
    --fonte_preta_assento: #000000;
    --fonte_branca: #ffffff;
    --sucesso: #247A6B;
}